html{
    height: 100%;
}

body {
    padding-top: 100px;
    height: 100%;
}


.main-theme {
}


.fadeTranslate-enter {
    transform: translate(100%);
}

    .fadeTranslate-enter.fadeTranslate-enter-active {
        transform: translate(0%);
        transition: transform 300ms ease-in-out;
    }

.fadeTranslate-exit {
    transform: translate(0%);
}

    .fadeTranslate-exit.fadeTranslate-exit-active {
        transform: translate(-100%);
        transition: transform 300ms ease-in-out;
    }

.fix-container {
    position: fixed;
}

.fo-red {
    color:red;
}

.fo-blue {
    color: blue;
}

.fo-green {
    color: green;
}

.fo-yellow {
    color: yellow;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 15px;
}